script#material-tpl(type="text/template")
  .panel.panel-default
    .panel-heading.box.box-items-centered
      span.box-shrink.material-icon(title!="<%=rarity%>")
      span.box-expand.panel-title(title!="<%=title%>") <%=title%>
      span.box-shrink.badge(title!="<%=type%>") <%=type%>
      
    <% for (var i=0; i < locations.length; ++i) { var location=locations[i]; %>
    
    <div class="panel-body box box-items-centered <%=(location.details?"toggle":"")%>">
      span.title.box-expand <%=(location.category=="mission"?"Mission Reward: ":"")%><%=location.title%>
      <% if (location.details) { %>
      span.icon.box-shrink: +icon("triangle-bottom")
      <% } %>
    </div>
    
    <% if (location.details) { %>
    .panel-body(style="display:none").
      <% for (var dt=location.details.split(";"), j = 0; j < dt.length; ++j) { var detail=dt[j]; %>
      <span class="location"><%=detail%></span>
      <% } %>
    <% } %>
    
    <% } %>
    .panel-footer.box.box-items-centered
      span.box-expand.title &nbsp;
      span.box-expand.title Inventory
        span.inventory <%= inventory %>
      span.box-shrink.buttons
        a.btn.btn-primary.inventory-minus
          +icon("minus")
        a.btn.btn-primary.inventory-plus
          +icon("plus")
