nav#main-navbar.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#")
        img(alt="Collector-Drone", src="launcher-icons/logo.png")
    ul.nav.navbar-nav
      li#view-tracker.active
        a(href="#/tracker") Tracker
      li#view-library
        a(href="#/library") Library
    ul.nav.navbar-nav.navbar-right
      li#view-about
        a(href="#/about") About
