script#track-material-tpl(type="text/template")
  .panel.panel-default
    .panel-heading
      .panel-title.box.box-items-centered
        span.box-shrink.material-icon
        span.box-expand.material-title(title!="<%= material.title %>")
          <%= material.title %>
        span.box-shrink.badge <%= material.type %>
    .panel-body.toggle.box
      span.box-expand.title Locations
      span.box-shrink: +icon("triangle-bottom")
    .panel-body.
      <%
      var titles = material.locations.map(function(it){return it.title});
      titles.sort(function(a,b){return a.length-b.length});
      for(var i=0; i<titles.length; ++i) { %>
          <span class="location"><%= titles[i] %></span>
      <% } %>
    .panel-footer.box.box-items-centered
      span.box-expand.title Track
        span.quantity <%= quantity %>
      span.box-expand.title Inventory
        span.inventory <%= inventory %>
      span.box-shrink.buttons
        a.btn.btn-default.inventory-minus
          +icon("minus")
        a.btn.btn-default.inventory-plus
          +icon("plus")
