section#about.container.text-center
  .row: .col-sm-6.col-sm-offset-3
    h3 About the Drone
    p.
      Unofficial companion web-app for Elite: Dangerous (property of Frontier
      Developments).<br/>
      Collector-Drone lets you manage blueprints and material
      inventory for crafting engineer upgrades.
    dl
      dt Version:
      dd 1.5
      dt Data Version
      dd: span#drone-data-version unkown

    h3 About the Creators
    p.
      Collector-Drone is a non-profit hobby project developed in our spare time. It's hosted on Github Pages, and aside from a yearly domain fee has no running costs. Donations will be used for pizza, chocolate, iced tea and more pizza.
    p.
      UI/UX Concept by <strong>Carina Lea Meyer</strong><br>
      Programming by <strong>Frederik Schumacher</strong><br>
      Copyright &copy; 2016 Frederik Schumacher, Carina Lea Meyer<br>
      <a href="https://github.com/fre-sch/collector-drone-frontend" target="_blank">Source is available on github</a>
    p(style="margin:2em 0;")
      <a href="https://flattr.com/submit/auto?fid=o6r5kd&url=http%3A%2F%2Fcollector-drone.one" target="_blank"><img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>

    h4 Credits
    p.
      Data from <a href="https://forums.frontier.co.uk/showthread.php/248275" target="_blank">Engineering Database &amp; Calculator</a> gathered by <a href="https://forums.frontier.co.uk/member.php/118579-Qohen-Leth" target="_blank">Qohen-Leth</a>.<br>
      Icons and colors by <a href="http://www.edassets.org/" target="_blank">edassets.org</a>.

    h3 About the Update
    p.
      Please post bugs, suggestions and feedback on
      <a href="https://github.com/fre-sch/collector-drone/issues" target="_blank">github</a>,
      on the <a href="https://forums.frontier.co.uk/showthread.php/270340" target="_blank">Frontier forum thread</a>,
      or on <a href="https://redd.it/4rhgc6" target="_blank">reddit</a>.
      Thank you!
    dl
      dt Update 1.5 (2016-08-02):
      dd Update blueprints to 2.1.05.
      dt Update 1.4 (2016-07-21):
      dd Import and export data.
      dt Update 1.3.1 (2016-07-18):
      dd Fix material rarity icons don't match ingame icons.
      dt Update 1.3 (2016-07-17):
      dd Show which engineers craft blueprints. Numerous layout and style tweaks.
      dt Update 1.2 (2016-07-11):
      dd.
        Show collection progress for
        blueprint and ingredients as progress bar. Find and show blueprints that
        could be build from current inventory. Fix blueprint category dropdown gets
        cut off on mobile. Fix blueprints screen shows some materials as Red when
        they should be Orange.
